/* A COMPLETER */

/*1.3*/
.contandante detournee, .detournee {text-decoration: underline}
.contandante detournee, .contandante {font-weight: bold}

article h1, article h2, article h3 {color:red}

aside>nav>ul>li>ul>li {list-style: none}

#armes>ul>li {color: green}
#armes>ul>li>ul>li {color: blue;}

article img {width: 1em;}
aside img {width: 20vh;}

/*1.7*/
article>section:last-of-type>section:last-of-type>ul {list-style: none;}